@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --menu-bar-height: 32px;
}

@media (max-width: 640px) {
  :root {
    --menu-bar-height: 44px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

